@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

#nav::-webkit-scrollbar {
    width: 2px;
  }
  

#nav::-webkit-scrollbar-thumb {
    background: #dbdbdb;
  }
  
#nav::-webkit-scrollbar-thumb:hover {
    background: #c9c9c9;
  }

.ql-container{
  font-size: 1rem!important;
}

.sketch-picker{
  width: 250px;
}

